body {
	background: blue;
	color: white;

}

h1 {
	font-style: Helvetica;
	color: red;
}

.boarding {
	padding: 25px 25px 25px 25px;
	border: solid;

}

#margin {
	margin-left: 25px;
}

#center {
	margin: auto;
}

a:visited {
	color: green;
}
a:link {
	color: red;
}

div {
	background-image: tahoeimage.jpg;
}

